header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #000;
    width: 100%;
    height: 6vh;
}

main th {
    border: solid 1px #d1cece;
    padding: 2px;
    color: #000;
}

main td {
    border: solid 1px #d1cece;
    padding: 2px;
    color: #000;
    word-spacing: 5px;
}  

tbody a {
    color: #000;
}

tbody a:hover {
    color: #1625ff;
}

table {
    background-color: #fff;
}

nav {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #000;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 2vw;
    color: #fff;
    text-decoration: none;
    border: solid #000;
    border-width: 0 1px 0;
}

nav button {
    font-size: 1.7vh;
    padding: 0 5vh;
    font-weight: 900;
    color: #fff;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

nav button:hover {
    border: solid #fff;
    border-width: 0 1px;
    background-color: #000;
}
