{% extends "models/model-page.html" %}

{% block content %}
<h1>Agenda</h1>
<div class="agenda">
    <h2>Tarefas</h2>
    <section class="eventos">
        <a class="novoevento" href="evento/">
        <button class="novoeventoa" type="button">Novo Evento</button>
        </a>
        <ul class="listaeventos">
            {% for evento in eventos %}
                <li class="eventoslista">
                    <div style={% if evento.get_evento_atrasado %}
                                "color:red"
                                {% else %}
                                "color:black"
                                {% endif %}>
                        {{ evento.titulo }} - {{ evento.descricao }} - {{ evento.get_data_evento }}
                        <a class="alteration" href="evento/?id={{ evento.id }}"> ( Editar )</a><p style="color: black; display: inline; background-color: white;"> / </p>
                       <a class="alteration" href="evento/delete/{{ evento.id }}/">( Excluir )</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}
