{% extends "models/model-page.html" %}

{% block content %}

<h1>Evento</h1>
<div class="createevento">
    <form class="formevento" method="POST">
        {% csrf_token %}
        <label class="ask">Título</label>
        {% render_field form.titulo class="inputtitulo" %}
        <br>
        <label class="ask">Data do Evento</label>
        <br>
        {% render_field form.data_evento class="saf" %}
        <br>
        <label class="ask">Descrição</label>
        <br>
        {% render_field form.descricao class="skfie" %}
        <br><br>
        <button class="submit" type="submit">Salvar</button>
        <a class="sfgsagsaglk" href="/">
            <button class="sfgsfas" type="button">Cancelar</button>
        </a>
    </form>    
</div>
{% endblock %}
