{% extends "models/model-page.html" %}
{% block content %}

<div class="page">
    {% for message in messages %}
    <div id="mensagem">
        {{ message }}
    </div>
    {% endfor %}
    <div class="area">
        <h1>ÁREA DE TRABALHO</h1>

        <table style="border: solid 2px #fff; border-radius: 7px;">
            <thead>
                <tr>
                    <th id="id-item" scope="col">ID</th>
                    <th scope="col">Título</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Criado em</th>
                    <th scope="col">Criado por</th>
                    <th scope="col">Status</th>
                    <th scope="col">Aceito por</th>
                    <th scope="col">Prazo</th>
                    <th scope="col">Acao</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td id="id-scope"><small>{{ticket.id}}</small></td>
                    <td><small>{{ticket.titulo_ticket|default:'Não informado'}}</small></td>
                    <td><small>{{ticket.descricao_ticket|default:'Não informado'}}</small></td>
                    <td class="data"><small>{{ticket.data_criada|date:"d/m/Y"}}</small></td>
                    <td>{{ticket.criado_por}}</td>
                    {% if ticket.ticket_status == 'Ativo' %}
                    <td><span class="status ativo">Ativo</span></td>
                    {% elif ticket.ticket_status == 'Pendente' %}
                    <td><span class="status pendente">Pendente</span></td>
                    {% elif ticket.ticket_status == 'Completo' %}
                    <td><span class="status completo">Completo</span></td>
                    {% endif %}
                    <td>{{ticket.atribuido_para.username|default:'Não atribuído'}}</td>
                    <td class="data"><small>{{ticket.prazo|date:"d/m/Y"|default:'Não informado'}}</small></td>
                    <td><small><a href="{% url 'detalhes_do_ticket' ticket.pk %}">Ver Detalhes</a></small></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}