{% extends "models/model-page.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="page">
    {% for message in messages %}
    <div id="mensagem">
        {{ message }}
    </div>
    {% endfor %}
    <h1>Abrir Chamado</h1>
    <div class="createevento">
        <form class="formevento" method="POST">{% csrf_token %}
            {% csrf_token %}
            <label class="ask">Atribuir para Grupo <span>*</span></label>
            <br>
            {% render_field form.atribuido_para_grupo class="form" %}
            <br>
            <label class="ask">Título <span>*</span></label>
            {% render_field form.titulo_ticket class="form" %}
            <br>
            <label class="ask">Descrição</label>
            <br>
            {% render_field form.descricao_ticket class="form" %}
            <br>
            <label class="ask">Prazo <span>*</span></label>
            <br>
            <input class="saf" type="date" name="prazo" value="{{ get_data_input_prazo }}">
            <br>
            <br>
            <button class="submit" type="submit">Salvar</button>
            <a class="sfgsagsaglk" href="/">
                <button class="sfgsfas" type="button">Cancelar</button>
            </a>
        </form>
    </div>
</div>

{% endblock %}
