{% extends "models/model-page.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="page">
    {% for message in messages %}
    <div id="mensagem">
        {{ message }}
    </div>
    {% endfor %}
    <div>
        <div>
            <h1>{{ticket.titulo_ticket}}</h1>
            <p>{{ticket.descricao_ticket|linebreaks}}</p>

            <div>
                <div>
                    <b>Data da Criação do Ticket</b> {{ticket.data_criada}}
                </div>
                <div>
                    <b>Atribuido para:</b> {{ticket.atribuido_para}}
                </div>
                <div>
                    <b>Setor:</b> {{ticket.atribuido_para_grupo}}
                </div>
            </div>
            <div>
                <div>
                    {% if ticket.foi_resolvido %}
                        <b>Já foi resolvido?</b> <span class="status completo">Foi Resolvido</span>
                    {% else %}
                        <b>Já foi resolvido?</b> <span class="status ativo">Ainda não</span>
                    {% endif %}
                </div>
                <div>
                    <b>Número do chamado:</b> <small>{{ticket.id}}</small>
                </div>
            </div>

            <div>
                <div>
                    <b>Data que foi aceita:</b> {{ticket.data_aceita}}
                </div>
                <div>
                    <b>Criado por:</b> {{ticket.criado_por}}
                </div>
                <div>
                    <b>Prazo:</b> {{ticket.prazo|date:"d/m/Y"|default:'Não informado'}}
                </div>
                <div>
                    <b>Status do chamado:</b> {{ticket.ticket_status}}
                </div>
            </div>
            <br>
            {% if ticket.atribuido_para_grupo in request.user.groups.all and not ticket.foi_resolvido %}
                <div class="area-resolutiva"><a href="#" id="resolvido-btn">Resolvido</a></div>
                <div id="fechar-ticket-form" style="display: none;">
                <form method="POST" action="{% url 'fechar_ticket' ticket.pk %}">
                    {% csrf_token %}
                    <label for="resposta">Resposta:</label>
                    <input type="text" id="resposta" name="resposta_fechamento">
                    <button type="submit">Fechar Chamado</button>
                </form>
            </div>
            {% endif %}

            {% if request.user == ticket.criado_por and not ticket.foi_resolvido %}
                <div class="area-resolutiva"><a href="{% url 'editar_ticket' ticket.pk %}">Editar Chamado</a></div>
            {% endif %}


            <div>
                <h1>Todos os chamados criados por {{ticket.criado_por}}</h1>
                {% for ticket in tickets_por_usuer %}
                    <p>{{ticket.id}} - {{ticket.titulo_ticket|default:'Não informado'}} - {{ticket.prazo|default:'Não informado'}}<div class="area-resolutiva"><a href="{% url 'detalhes_do_ticket' ticket.pk %}">(Ver chamado)</a></div></p>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('resolvido-btn').addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('fechar-ticket-form').style.display = 'block';
    });
</script>


{% endblock content %}