{% extends "models/model-page.html" %}

{% block content %}

<div>
    <div>
        <h1>{{ticket.titulo_ticket}}</h1>
        <p>{{ticket.descricao_ticket}}</p>

        <div>
            <div>
                <b>Data da Criação do Ticket</b> {{ticket.data_criada}}
            </div>
            <div>
                <b>Atribuido para:</b> {{ticket.atribuido_para}}
            </div>
            <div>
                <b>Setor:</b> {{ticket.atribuido_para_grupo}}
            </div>
        </div>
        <div>
            <div>
                {% if ticket.foi_resolvido %}
                <b>Já foi resolvido?</b> <span class="status completo">Foi Resolvido</span>
                {% else %}
                <b>Já foi resolvido?</b> <span class="status ativo">Ainda não</span>
                {% endif %}
            </div>
            <div>
                <b>Número do chamado:</b> <small>{{ticket.numero_do_ticket}}</small>
            </div>
        </div>

        <div>
            <div>
                <b>Data que foi aceita:</b> {{ticket.data_aceita}}
            </div>
            <div>
                <b>Criado por:</b> {{ticket.criado_por}}
            </div>
            <div>
                <b>Prazo:</b> {{ticket.prazo}}
            </div>
            <div>
                <b>Status do chamado:</b> <small>{{ticket.ticket_status}}</small>
            </div>
        </div>
        <br>
        {% if ticket.atribuido_para_grupo in request.user.groups.all and not ticket.foi_resolvido %}
        <a href="{% url 'fechar_ticket' ticket.pk %}">Resolvido</a>
        {% endif %}

        {% if request.user == ticket.criado_por and not ticket.foi_resolvido %}
        <a href="{% url 'editar_ticket' ticket.pk %}">Editar Chamado</a>
        {% endif %}


        <div>
            <h1>Todos os chamados criados por {{ticket.criado_por}}</h1>
            {% for ticket in tickets_por_usuer %}
            <p>{{ticket.numero_do_ticket}} - {{ticket.titulo_ticket}} - {{ticket.prazo}}<a
                    href="{% url 'detalhes_do_ticket' ticket.pk %}">(view)</a></p>
            {% endfor %}

        </div>
    </div>



    {% endblock content %}