<!DOCTYPE html>

<head>
    {% include "models/model-header.html" %}
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/static/service-worker.js');
            });
        }
    </script>
</head>

<body style="margin: 0;">
    {% if request.user.is_authenticated %}
    <header>
        <nav>
            <a href="javascript:history.back()"><button>Voltar</button></a>
            <a href="/agenda"><button>Agenda</button></a>
            <a href="/area_de_trabalho"><button>Area de Trabalho</button></a>
            <a href="/lista_de_tickets"><button>Chamados</button></a>
            <a href="/meus_chamados"><button>Meus Chamados em aberto</button></a>
            <a href="/todos_os_tickets_fechados"><button>Chamados Fechados</button></a>
            <a href="/criar_ticket"><button>Abrir Chamado</button></a>
            <a href="/logout"><button>LOGOUT</button></a>
        </nav>
    </header>
    {% endif %}
    <main>
        {% block content %} {% endblock %}
    </main>
    {% include "models/model-footer.html" %}
</body>

</html>