{% extends "models/model-page.html" %}
{% load static %}

{% block content %}
<section class="banner">
    <div class="banner-content">
        <div class="logo">
            <img src="{% static 'image/malta-gestao.jpg' %}" alt="Malta Gestão">
            <div id="home">
                <h2>Bem-vindo ao Malta Gestão</h2><br>
                <p class="p-home">O Malta Gestão é um sistema de gerenciamento de chamados desenvolvido para ajudar a organizar e
                    rastrear
                    os chamados dentro da faculdade. Com o Malta Gestão, você pode criar, atribuir e acompanhar o
                    status
                    dos
                    chamados de forma eficiente.</p>
                    <a href="/login"><button class="btn-home">Entrar</button></a>
            </div>
        </div>
    </div>
</section>

<div class="text-contain">
    <h4>Recursos do Malta Gestão</h4>
    <ul>
        <li><strong>Gerenciamento de Chamados:</strong> Crie e gerencie chamados com facilidade. Atribua
            chamados a diferentes setores e acompanhe seu progresso.</li>
        <li><strong>Agenda:</strong> Mantenha-se organizado com a nossa agenda integrada. Planeje seu dia e
            nunca perca um prazo.</li>
        <li><strong>Área de Trabalho:</strong> Personalize sua área de trabalho para atender às suas
            necessidades. Acesse rapidamente os chamados atribuídos a você e veja seu status.</li>
    </ul>

    <h4>Entre em Contato</h4>
    <p class="p-home">Se você tiver alguma dúvida ou precisar de ajuda com o Malta Gestão, não hesite em entrar em contato
        conosco. Estamos aqui para ajudar!</p>

    <a class="a-home" href="/login"><button class="btn-home">Entrar</button></a>
</div>

{% endblock %}