<meta charset="UTF-8">
<style>
* {
    background-color:#9c91db;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

h1 {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
}

#username{
    background-color: white;
    padding: 2px 25px;
}

#password{
    padding: 2px 25px;
}

#formulario {
    max-width: 26rem;
    background-color: white;
    border-style: solid;
    border-radius: 30px;
}

#agenda {
}

.novoevento {
    border-radius: 30px;
    border: 0px;
    padding: 0.3rem 0.7rem;
    font-size: 15px;
    font-weight: 700;
    background: #103e46;
    color: white;
    position: relative;
    cursor: pointer;
}

:hover.novoevento{
    color: rgb(255, 251, 0);
    background: #103e46de;
}

form{
    display: flex;
    justify-content: space-evenly;
}

div{
    color: white;
    display: block;
    background-color: transparent;
}

.svgemail {
    background-color: white;
    color: rgb(156, 145, 219);
}

.svgsenha {
    background-color: white;
    color: rgb(156, 145, 219);
}

#password {
    background-color: white;
}

form {
    display: flex;
}

.formname{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 10px 5rem;
    margin: 1.5rem 0px;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: white;
    position: relative;
    transition: border-color 0.15s ease 0s;
}

.formsenha{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 10px 5rem;
    margin: 1.5rem 0px;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: white;
    position: relative;
    transition: border-color 0.15s ease 0s;
}

.loginbutton{
    width: 50%;
    margin: 1.3rem auto 2.2rem;
    border-radius: 30px;
    border: 0px;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background: #479ead;
    color: rgb(255, 255, 255);
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    display: block;
}
</style>
<title>Agenda</title>
<div align="right">
    <a href="/logout">logout</a>
</div>

