<meta charset="UTF-8">
<style>
* {
    background-color:#9c91db;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

#root {
    min-height: 850px;
}

h1 {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
}

.eventos {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    border-radius: 30px;
    border: 0px;
}

.listaeventos {
    font-size: 18px;
    background-color: transparent;
}

.eventoslista {
    background-color: transparent;
}

#username{
    background-color: white;
    padding: 2px 25px;
}

#password{
    padding: 2px 25px;
}

#formulario {
    max-width: 26rem;
    background-color: white;
    border-radius: 30px;
}

#agenda {
}

.novoevento {
    border-radius: 30px;
    font-weight: 700;
    color: white;
    position: relative;
    margin: 1rem 0 0 2.5rem;
}

.novoeventoa {
    border-radius: 30px;
    border: 0px;
    padding: 0.3rem 0.7rem;
    font-size: 15px;
    font-weight: 700;
    background: #125c69e3;
    color: black;
    position: relative;
    cursor: pointer;
}

:hover.novoeventoa{
    color: white;
    background: #ff7300;
    box-shadow: white;
}

form{
    display: flex;
    justify-content: space-evenly;
}

div{
    color: white;
    display: block;
    background-color: transparent;
}

.author{
    margin-left: 0.4rem;
    color: black;
}

.svgemail {
    background-color: white;
    color: rgb(156, 145, 219);
}

.svgsenha {
    background-color: white;
    color: rgb(156, 145, 219);
}

#password {
    background-color: white;
}

.footer {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 17px;
    display: flex;
    justify-content: center;
}

.alteration {
    text-decoration: none;
    background-color: transparent;
}

form {
    display: flex;
}

.formname{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 10px 5rem;
    margin: 1.5rem 0px;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: white;
    position: relative;
    transition: border-color 0.15s ease 0s;
}

.formsenha{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 10px 5rem;
    margin: 1.5rem 0px;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: white;
    position: relative;
    transition: border-color 0.15s ease 0s;
}

.loginbutton{
    width: 50%;
    margin: 1.3rem auto 2.2rem;
    border-radius: 30px;
    border: 0px;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background: #479ead;
    color: rgb(255, 255, 255);
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    display: block;
}
</style>
<title>Agenda</title>
<div align="right">
    <a href="/logout">logout</a>
</div>

